[submodule "GodotSimpleExplosionVFX"]
	path = GodotSimpleExplosionVFX
	url = https://github.com/drcd1/GodotSimpleExplosionVFX
[submodule "jak4"]
        path = jak4
        url = https://github.com/needleful/jak4
[submodule "oriks_lantern"]
	path = oriks_lantern
	url = https://github.com/OsamaElHariri/oriks_lantern
[submodule "godot_spatial_gardener"]
	path = godot_spatial_gardener
	url = https://github.com/dreadpon/godot_spatial_gardener
[submodule "LD41"]
	path = LD41
	url = https://github.com/LudumDare41/LD41
[submodule "GDTLancer"]
	path = GDTLancer
	url = https://github.com/roalyr/GDTLancer
[submodule "Godot_Third_Person_Shooter"]
	path = Godot_Third_Person_Shooter
	url = https://github.com/JohnnyRouddro/Godot_Third_Person_Shooter
[submodule "proton_trail"]
	path = proton_trail
	url = https://github.com/HungryProton/proton_trail
[submodule "GameOff2019"]
	path = GameOff2019
	url = https://github.com/LoukaSoret/GameOff2019.git
